body{
    display: block;
    align-items: center;
    justify-content: center;
}

button{
    width: 80px;
    height: 40px;
    background-color: #3D0009;
    border-radius: 10px;
    color: white;
    margin: auto;
}

footer{
    margin-top: 80px;
}
.navegador{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 80px;
    margin: auto;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 100px;
}

h2{
    text-align: center;
    margin: 10px 20px;
    padding: 10px
}

main{
    background-image: url(imagenes/9e03feaea3aa680ba1d3995cffc262b4.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Altura del contenedor al 100% de la ventana */
    display: flex; /* Usamos flexbox para centrar el contenido */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    color: white; /* Color del texto */
}

input{
    border:.5px solid white ;
    border-radius: 10px;
    margin: 10px 0px;
    color: black;
    height: 32px;
    width: 250px;
}

input::placeholder{
    color: black;
}

textarea::placeholder{
    color: black;
}

textarea {
    border:.5px solid white ;
    border-radius: 10px;
    margin: 10px 0px;
    color: black;
    width: 250px;
}
#imagen{
    margin: 10px 20px;
    border: none;
}
input[type="file"]{
    background:none;
    color: white;
    border: .5px solid white;
    margin-left: 10px;
}
input[type="submit"]{
    background:none;
    color: white;
    border: .5px solid white;
    margin-left: 10px;
}

input[type="submit"]:focus{
    background-color: white;
    color: black;
    border: .5px solid black;
}

.contenido{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    display: flex;
    backdrop-filter: blur(10px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
