body{
    display: block;
    align-items: center;
    justify-content: center;
}

button{
    background-color: #3D0009;
    border-radius: 10px;
    color: white;
    margin: auto;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 100px;
}

h1{
    text-align: center;
}

main{
    background-image: url(imagenes/9e03feaea3aa680ba1d3995cffc262b4.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Altura del contenedor al 100% de la ventana */
    display: flex; /* Usamos flexbox para centrar el contenido */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    color: white; /* Color del texto */
}